<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--Some Bootstrap design is used below-->
    <div class="text-center" style="background-color:cadetblue">
        @RenderBody()
        <footer class="text-center">Tingyu Huang, Inc 2021</footer>
    </div>
</body>
</html>
